body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav {
  display: flex;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.244);
  width: 100vw;
  justify-content: space-around;
  padding: 1rem;
  font-weight: 900;
}

.navbar-btn {
  border-radius: 16px;
  padding: 0.5rem;
  background-color: rgba(119, 197, 226, 0.278);
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
}

.navbar-btn-dark {
  background-color: rgba(119, 197, 226, 0.278);
  color: white;
}



a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-weight: 500;
}

a:hover{
  color: rgb(32, 179, 233);
} 

footer {
  display: flex;
  color: #000;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.footer-dark {
  background-color: #12121296;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 230px;
  margin: 0 auto;
}

form > label {
  font-size: 14px;
  font-weight: 700;
}

form > input {
  padding: 0.5rem;
  border-radius: 16px;
}

form > button {
  padding: 0.8rem;
  margin: 10px auto;
  width: 50%;
  border-radius: 32px;
  background-color: rgb(32, 179, 233);
  color: white;
  font-weight: 800;
}
form > button:hover {
  background-color: rgb(220, 220, 220);
  color: black;
  cursor: pointer;
}

.form {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 3rem;
  background-color: #12121296;
  color: rgb(32, 179, 233);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 20px;
}

.card:hover{
  border: 2px solid rgb(32, 179, 233);
  
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-link > img {
  border-radius: 120px;
  width: 210px;
  height: 230px;
}

.card-link-dark > span {
  padding: 0.3rem;
  color: white;
}

.card-link > span {
  padding: 0.3rem;
}

.card > button {
  background: none;
  border-top: 1px solid rgb(234, 234, 234);
  width: 110%;
  border-radius: 20px;
}

.card > button:hover {
  background: rgba(171, 233, 255, 0.547);
 
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 10% auto;
  border: 1px solid #ccc;
  border-radius: 60px;
  padding: 1rem;
}

.detail > img {
  border-radius: 120px;
  width: 210px;
  height: 230px;
}

.detail > span {
  margin: 1rem;
  font-weight: 500;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}